
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
/* background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
background-color: rgba(18, 17, 17, 0.504);
/* background: linear-gradient(98deg, #e2e5e2 0%, #ffffff 100%); */
width: 100vw;
height: 100vh;
overflow-x: none;
   
}
.logo{
    color: yellow;
    border: 3px solid white;
    font-size: 45px;
    display: inline-block;
    margin: 2px;
    padding: 20px;
    align-items: center;
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
#logoname{
    font-size: 50px;
}